@charset "UTF-8";

.titleArea{
			margin-top: 30px;
		}
		.titleArea>h2{
			border-bottom: 3px solid #999999;
			margin-bottom: 15px;
		}
        .B{
            width: 500px;
        }
		table{
			margin: 20px auto;
		}
        table, th, td {
            border-collapse: collapse;
            border: 1px solid rgb(197, 197, 197);
        }
        th, td{
            padding: 15px;
            text-align: center;
        }
        fieldset{
			width: 80px;
			margin: 0 auto;
			margin-top: 30px;
			border : 1px solid rgb(197, 197, 197);	
			background-color: #668efd;
			text-align: center;
			color : white;
        }
        #submit{
        	color : white;
        }
 
       	
        